@import "weather-icons/css/weather-icons.css";

.App {
  min-height: 100vh;
  background-image: url("./assets/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.inputs,
.inputs:focus {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0;
  outline: none;
  border-bottom: 2px solid whitesmoke !important;
  color: rgb(255, 255, 255) !important;
}
::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
  opacity: 0.7 !important;
}

h1,
h2,
h3,
h4,
h5 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.63);
}

sub {
  font-size: 15px;
  color: rgb(255, 0, 0);
}

.max-temp {
  color: rgb(241, 132, 132);
}
.min-temp {
  color: rgb(89, 180, 255);
}
